.image-container{
    width: 314px;
    height: 393px;
    position: relative;
    
    .parent-image{
      width: 330px;
      height: 330px;
      object-fit: cover;
      border-radius: 10px;

    }
    .child-image{
        position: absolute;
        height: 24px;
        width: 24px;
        bottom: 360px;
       left: 298px;
        filter: invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
      }
}
.image-details{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 20px;
        color: #333;
        margin: 0;
    }
}
.image-detail-dark{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  font-weight: 600;
}
.image-detail-light{
    color: #333;
}
.grid-image {
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    gap: 30px;
    row-gap: 40px;
    margin-top: 16px;
    box-sizing: border-box;
}

    .icon-btn{
      border: none;
        background-color: transparent;
    
    }
    .gif{
        width: 1400px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
       
            
      }
      .gif img{
            height: 200px;
            width: 200px;
          }
      
  

